body{
    background-color: #011b3c;
}

img.side-bar-ico{
	width: 90px;
}

img.side-bar-ico-active{
	background-color: #fff;
}

div.container-fluid{
	margin-left: -35px;
}

.nav-cstm{padding-left:0;margin-bottom:0;list-style:none;margin-top:51px;}


/*.nav-cstm>li{position:relative;display:block}*/


.nav-cstm>li>a{position:relative;display:block;}


.nav-cstm>li>a:focus,.nav-cstm>li>a:hover{text-decoration:none;background-color:#eee}


.nav-cstm>li.disabled>a{color:#777}


.nav-cstm>li.disabled>a:focus,.nav-cstm>li.disabled>a:hover{color:#ea5e00;text-decoration:underline;cursor:not-allowed;background-color:transparent}


.nav-cstm .open>a,.nav-cstm .open>a:focus,.nav-cstm .open>a:hover{background-color:#eee;border-color:#337ab7}

.welcome-txt{
	text-align: center;
	font-size: 20px;
	color: #fff;
}

.welcome-sub{
	text-align: center;
	color: #fff;	
}