body, #header1{
	background-color: #011b3c; 
}

#header1 {
	z-index: 1000;
	border: 0;
	padding-top: 40px; 	
}

.collapse-nav{
	font-size: 10px;
}

.menu:hover, .menu.active a{
	background-color: #ea5e00 !important;
}

.btn-cstm{
	color: #fff;
	background-color: #152f50;
}

.btn-cstm:hover{
	color: #fff;
	background-color: #ea5e00;
}

#crt-mr-found{
    display: none
}
.opt-hm{
	color: #555;
	font-size: 11px;
	width: 34%;
}
.log-cstm{
	padding: 5px 80px 5px 80px;
	border-radius: 3px;
	margin: 0 auto;
}

footer.footer{
	background-color: #000915;
	z-index: 1000;
	position: fixed;
}
.col-centered {
	float: none;
	margin: 0 auto;
}

.log-fields-wrapper {
	width: 202px;
	margin-bottom:10px;
}

.alert-msg{
	max-width: 300px;
	text-align: center;
}

footer {
	margin-top: 10px;
	padding: 12px 0;
	position: relative;
	color: #FFF;
}
body {
	padding-top: 70px;
}
